#overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color: #000;
    display: none;
}

#win {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 200px;
    border: 4px solid orange;
    margin: -102px 0 0 -202px;
    background-color: white;
    display: none;
}

#win>h1 {
    margin: 0;
    background-color: #FC0;
    text-align: right;
}

#close {
    font-weight: lighter;
    background-color: white;
    padding: 0 2px;
    border: 1px solid red;
}

#close:hover {
    cursor: pointer;
}