body,ul{
    margin: 0;
    padding: 0;
}

.outter{
    margin: 0 auto;
    width: 200px;
}

h2{
    font-weight: lighter;
    font-size:15px;
    background-color:rgba(211, 211, 211, 0.842);
    padding: 4px;
    text-align: center;
    margin-bottom: 0;
}
h2:hover{
    cursor: pointer;
}

ul{
    list-style: none;
    display: none;
}


li{
    background-color: #e9edf2;
}
li:nth-child(odd){
    border-bottom: 1px solid white;
}

li:hover{
    background-color:white;
    cursor: pointer;
}
a{
    text-decoration: none;
    color:darkgray;
}
a:hover{
    text-decoration: underline;
}