.outter{
    margin: 0 auto;
    width: 200px;
}

.outter>input{
    display: block;
}
.div1{
    margin-top: 20px;
    width: 200px;
    height: 200px;
    background-color: black;
    color:white;
}
