/*需要解决，文字和表单如何排列在一起的问题*/


*{
    padding: 0;
    margin: 0;
}
.main{
    margin: 0 auto;
    width: 400px;
    border:2px solid salmon;
    background-color: #fef4eb;
}
.top{
    border-bottom: 2px solid salmon;
    background-color: #ffebd7;
    color:#f60;
    font-weight: bold;
}
.body{
    margin: 0 auto;
    width: 100px;
}

.body input{
   display: block;
    height: 30px;
    border-radius: 3px;
    border: 1px solid gainsboro;
}
.body button{
    width: 100px;
    height: 30px;
    margin-bottom: 12px;
    margin-top: 12px;
    color: white;
    background-color:  #f60;
    border: none;
    border-radius: 3px;
    font-size: 22px;
    cursor: pointer;
}

